/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
}

.rocket_svg: hover {
    transform: rotate(250deg);
    transition-duration: 3s;


/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    /* Your code here */
}

astronaunt_svg {
    translate: 100deg;
    transition-duration: 3s;

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your animation here
}

.earth_svg {
    animation-name: spin
    animation-duration: 2s;
    animation-iteration-count: infinate;
}
